@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }
  @font-face {
    font-family: 'Questiora';
    src: url('../public/font/QuestioraRegular-Wpa9G.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  